body {
  background-color: skyblue;
}
p {
  color: blue;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  }

footer p {
  color: red;
  }

#contact_info{
  color: green;
}

img {
  padding-top: 100px;
  padding-left: 100px;
}

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
}

.snowflake {
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  color: #FFFFFF;
  user-select: none;
  z-index: 1000;
}

.snowflake:hover {
  cursor: default;
}
