body {
  background: rgb(135, 206, 235,);
  background: rgba(135, 206, 236, .35);
}
p {
  color: blue;
  margin-right: 50px;
  margin-left: 50px;
  }

footer p {
  color: red;
  }

#contact_info{
  color: green;
}

img {
  padding: auto; 
  height: 180px;
  width: 360px;
}

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
}

.snowflake {
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  color: #FFFFFF;
  user-select: none;
  z-index: 1000;
}

.snowflake:hover {
  cursor: default;
}
